@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap');


.font-mono-300 {
  font-family: roboto mono;
  font-weight: 300;
}

.font-mono-400 {
  font-family: roboto mono;
  font-weight: 400;
}

/* Navbar.css */

/* Toggle Button Styles */
.toggle-button {
  background-color: #e0e0e0;
  border: none;
  color: #333;
  font-size: 16px;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, transform 0.2s;
}

/* Active Toggle Button Styles */
.toggle-button.active {
  background-color: #66bb6a;
  color: #fff;
}

/* Inactive Toggle Button Styles */
.toggle-button.inactive {
  background-color: #ef5350;
  color: #fff;
}

/* Hover Styles for Buttons */
.toggle-button:hover {
  transform: scale(1.05);
}


/* Main.css */

.main-container {
  padding: 20px;
}

.weather-details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-icon {
  font-size: 40px;
}

.weather-info {
  margin-top: 10px;
  text-align: center;
}

.temperature {
  font-size: 24px;
  font-weight: bold;
}

.location {
  font-size: 16px;
  color: #888;
}

